.table {
    margin-left: 40px;
}

.hero {
    background-image: url("http://clipart-library.com/img/885073.gif");
    padding-top: 25px;
    padding-bottom: 25px;

}

.hero-text {
    color: black;
    text-shadow:
        -1px -1px cadetblue,
         1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.right-align {
    text-align: right;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}